################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
[Bb]in
[Oo]bj
[Dd]ebug
[Rr]elease
